# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Testing and coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type checkers and linters
.mypy_cache/
.ruff_cache/

# Build artifacts
build/
dist/
*.egg-info/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and runtime files
*.log
*.pid
cmd.txt

# Archieves
*.tar
*.zip

# Documentation
*.drawio
